/* Variables */

$color-light: white;
$color-dark: black;
$color-primary: #fed136;

$font-logo: "Imperial Script", cursive;
$font-italic: "Noto Serif", serif;
$font-sans: "Inter", sans-serif;
$font-nav: "Montserrat", sans-serif;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: $color-dark;
}

section {
  margin-top: 6rem;
}

h2 {
  font-family: $font-sans;
  text-align: center;
  font-size: 40px;
  margin: .5rem 0;
  padding: 0;
}

h3 {
  font-family: $font-sans;
  text-align: center;
  font-size: 18px;
  margin: .5rem 0;
}

p {
  text-align: center;
  font-style: italic;
  font-size: 18px;
  margin: .5rem 0;
  padding: 0;
  opacity: .8;
}

.container {
  align-self: center;
  width: 100%;
  max-width: 1400px;
  padding: 0;
  z-index: 1;

  &.background {
    z-index: -1 !important;
    position: absolute;
    background-size: cover;
    background-position: 1px -44px;
    height: 700px;
    background-image: url(../images/background.jpg);
    filter: brightness(0.6);
  }
}

.row {
  justify-content: center;
  margin: 5rem 0 2rem 0;
}

/* Navbar */

nav {
  
  color: $color-light;

  ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: 2.5rem;
  }

  li {
    display: inline-block;
    text-decoration: none;
    font-family: $font-nav;
    font-weight: 500;
    font-size: 14px;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem;
  }

  .logo {
    color: $color-primary;
    font-family: $font-logo;
    font-size: 26px;
    letter-spacing: 0.2rem;
    font-weight: 600;
    display: inline-block;
    width: 80px;
  }

}

/* Splash */

.splash {

  color: $color-light;

  .wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    font-family: $font-sans;

    h2 {
      margin: 0;
      font-family: $font-italic;
      font-style: italic;
      font-weight: 300;
      font-size: 39px;
    }

    h1 {
      margin: 0;
      font-size: 72px;
      letter-spacing: .1rem;
    }

    button {
      margin-top: 1rem;
      color: $color-light;
      padding: 1.5rem 3rem;
      background-color: $color-primary;
      font-size: 18px;
      font-weight: 600;
    }

  }

}

/* Services */

.services {

  margin-top: 12rem;

  .container {
    max-width: 1000px;
  }

  i {
    color: $color-primary;
    font-size: 35px;
    border: 4px solid $color-primary;
    border-radius: 100%;
    padding: 1rem;
    margin-bottom: .5rem;
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    p {
      margin: 0;
      font-style: normal;
      font-size: 15px;
      line-height: 1.5;
    }
  }

}

/* Portfolio */

.portfolio {

  margin-top: 7rem;

  h3 {
    margin: 2rem 0 0 0;
  }

  img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
  }

  .row {
    margin: 0 13rem;
  }

  .custom-card {
    padding: 4rem 1rem 1rem 1rem;
    margin: 0;

    p {
      font-size: 16px;
      margin: 0;
    }

  }

}

/* Footer */

footer {
  margin: 9rem 0 2rem 0;

  i {
    background-color: $color-dark;
    color: $color-light;
    padding: .75rem;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 100%;
    font-size: 20px;
  }

  p {
    position: absolute;
    left: 0;
    font-size: 15px;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .social {
    display: inline-flex;
    gap: .5rem;
  }

  .copyright {
    display: inline-block;
    margin-left: 14rem;
  }

}

/* Media querys */

@media screen and (max-width: 1200px) {

  nav {
    .container {
      .wrapper {
        justify-content: center;

        ul {
          display: none;
        }
      }
    }
  }

  .splash {

    margin-top: 3rem;

    .wrapper {

      h2 {
        font-size: 30px;
        
      }
  
      h1 {
        font-size: 55px;
        text-align: center;
      }
    }
  }

  .services {
    .service {
      max-width: 769px;
      padding: 0 5rem;
    }
  }

  .portfolio {
    .row {
      margin: 0 3rem;
    }
  }

  footer {

    p {
      position: static;
    }

    .container {
      flex-direction: column-reverse;
    }

    .copyright {
      margin: 2rem 0;
    }

  }

}
